body {
    direction: rtl;
    font-family: 'Baloo Bhaijaan 2', cursive, 'Sunflower', sans-serif;
    height: 100vh;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.bgImage{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.600);
}

#city_name{
    font-size: 70px;
    padding-right: 20px;
    margin-right: 20px;

}

#city_date{
    margin-right: 20px;
    font-weight: 300;
    font-size: 25px;
}

.card{
    margin-top: 30px;
    width:200px;
    height: 100%;
    background-color: white;
    font-size: 20px;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header{
    font-size: 30px;

    background:  linear-gradient(#4c09c8, #5a4c95);
    color: white;
}

.card-body{
    font-size: 29pt;
}

.date_city{
 display: flex;
 justify-content: space-between;
 padding-left: 15px;
 padding-right: 15px;

}

h1, h2, h3, h4, h6 {
    margin: 0;
    color: white;
}

select{
    margin-left: 20px;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    border: #5a4c95 solid 3px;
    background: none;
    color: white;
    height: 40px;
    font-size: 12pt;
    font-family: 'Baloo Bhaijaan 2', cursive, 'Sunflower', sans-serif;
}